a {
  color: #000;
  text-decoration: none;
}
.nav-link {
  color: #000;
}
.page-link {
  color: $green;
}
.page-item.active .page-link {
  color: $white;
  background-color: $success;
  border-color: $success;
}
